export const navItems = [
    { name: "About", link: "#about" },
    { name: "Projects", link: "#projects" },
    { name: "Testimonials", link: "#testimonials" },
    { name: "Contact", link: "#contact" },
  ];
  
  export const gridItems = [
    {
      id: 1,
      title: "I prioritize client collaboration, fostering open communication ",
      description: "",
      className: "lg:col-span-3 md:col-span-6 md:row-span-4 lg:min-h-[60vh]",
      imgClassName: "w-full h-full",
      titleClassName: "justify-end",
      img: "/b1.svg",
      spareImg: "",
    },
    {
      id: 2,
      title: "I work remotely and onsite",
      description: "",
      className: "lg:col-span-2 md:col-span-3 md:row-span-2",
      imgClassName: "",
      titleClassName: "justify-start",
      img: "",
      spareImg: "",
    },
    {
      id: 3,
      title: "My tech stack",
      description: "I constantly improve",
      className: "lg:col-span-2 md:col-span-3 md:row-span-2",
      imgClassName: "",
      titleClassName: "justify-center",
      img: "",
      spareImg: "",
    },
    {
      id: 4,
      title: "Tech enthusiast with a passion for development.",
      description: "",
      className: "lg:col-span-2 md:col-span-3 md:row-span-1",
      imgClassName: "",
      titleClassName: "justify-start",
      img: "/grid.svg",
      spareImg: "/b4.svg",
    },
  
    {
      id: 5,
      title: "Currently building an AI based platform",
      description: "The Inside Scoop",
      className: "md:col-span-3 md:row-span-2",
      imgClassName: "absolute right-0 bottom-0 md:w-96 w-60",
      titleClassName: "justify-center md:justify-start lg:justify-center",
      img: "/b5.svg",
      spareImg: "/grid.svg",
    },
    {
      id: 6,
      title: "Do you want to start a project together?",
      description: "",
      className: "lg:col-span-2 md:col-span-3 md:row-span-1",
      imgClassName: "",
      titleClassName: "justify-center md:max-w-full max-w-60 text-center",
      img: "",
      spareImg: "",
    },
  ];
  
  export const projects = [
    {
      id: 1,
      title: "Project 1",
      des: "Rutrum tristique gravida purus aliquam proin dignissim hendrerit euismod torquent",
      img: "/b1.svg",
      iconLists: ["/laravel.svg", "/vue.svg", "/sass.svg", "/aws.svg", "/sap.svg"],
      link: "/r/project1",
    },
    {
      id: 2,
      title: "Project 2",
      des: "Maximus mi convallis sodales posuere habitant nisl pellentesque ligula sagittis",
      img: "/b1.svg",
      iconLists: ["/laravel.svg", "/vue.svg", "/gitlab.svg", "/aws.svg", "/mapbox.svg"],
      link: "/r/project2",
    },
    {
      id: 3,
      title: "Project 3",
      des: "Mus senectus nostra vel sem nisl duis aliquet dictum felis",
      img: "/b1.svg",
      iconLists: ["/next.svg", "/re.svg", "/ts.svg", "/tail.svg", "/mong.svg", "/c.svg"],
      link: "/r/project3",
    },
    {
      id: 4,
      title: "Project 4",
      des: "Platea hac condimentum torquent dis lacus velit quam donec sodales",
      img: "/b1.svg",
      iconLists: ["/re.svg", "/laravel.svg", "/js.svg", "/ts.svg", "/vue.svg", "/git.svg"],
      link: "/r/project4",
    },
  ];
  
  export const testimonials = [
    {
      quote:
        "Volutpat nibh libero praesent elit rutrum est dolor arcu venenatis donec varius ac laoreet a augue justo pretium duis at facilisi himenaeos hendrerit efficitur quis feugiat maximus litora vehicula commodo",
      name: "Mr. Kayami",
      title: "National Sales Manager",
    },
    {
      quote:
        "Lobortis cubilia aenean suscipit velit sed luctus dis posuere ante cras at ultricies odio penatibus mattis tristique donec aliquam eu potenti netus hendrerit sapien facilisi condimentum sem sagittis inceptos aliquet",
      name: "Mrs. Kaya",
      title: "Founder / CEO",
    },
    {
      quote:
        "Nullam iaculis conubia hendrerit venenatis mollis mus magnis purus taciti nascetur amet per vehicula dui vivamus eu feugiat rutrum quam torquent facilisi vitae diam rhoncus volutpat dapibus habitasse finibus fusce",
      name: "Mr. Hikari",
      title: "Student",
    }
  ];
  
  export const companies = [
    {
      id: 1,
      name: "kuehne+nagel",
      img: "/kn.svg",
      nameImg: "/knName.svg",
    },
    {
      id: 2,
      name: "butlers",
      img: "/butlers.svg",
      nameImg: "/butlersName.svg",
    },
    {
      id: 3,
      name: "home24",
      img: "/h24.svg",
      nameImg: "/h24Name.svg",
    },
    {
      id: 4,
      name: "closed",
      img: "/closed.svg",
      nameImg: "/closedName.svg",
    },
    {
      id: 5,
      name: "telekom",
      img: "/telekom.svg",
      nameImg: "/telekomName.svg",
    },
  ];
  
  export const workExperience = [
    {
      id: 1,
      title: "Software Engineer",
      desc: "Developed and deployed logistics software, enhancing operations in an agile environment.",
      className: "md:col-span-2",
      thumbnail: "/exp1.svg",
    },
    {
      id: 2,
      title: "Lead Full Stack Developer",
      desc: "Architected and launched a business advertising platform, leading a team to success.",
      className: "md:col-span-2", // change to md:col-span-2
      thumbnail: "/exp2.svg",
    },
    {
      id: 3,
      title: "Full Stack Developer",
      desc: "Built a custom ERP web application, integrating SAP and AWS for enhanced efficiency.",
      className: "md:col-span-2", // change to md:col-span-2
      thumbnail: "/exp4.svg",
    },
    {
      id: 4,
      title: "IT and Business Mentor",
      desc: "Coached and trained professionals in JavaScript, PHP, React, and SQL.",
      className: "md:col-span-2",
      thumbnail: "/exp3.svg",
    },
  ];
  
  export const socialMedia = [
    {
      id: 1,
      img: "/git.svg",
      link: "https://github.com/codeoutin"
    },
    {
      id: 2,
      img: "/link.svg",
      link: "https://www.linkedin.com/in/p-steger/"
    },
  ];